<% content_for :title, "Editing bar" %>
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block w-full" id="notice"><%= notice %></p>
<% end %>
<div class="flex gap-4">
  <h1 class="text-2xl font-bold w-full">Editing bar</h1>
  <div>
    <%= link_to "Foo", foo_path(@bar.foo_id), class: "btn btn-secondary" %> 
  </div>
</div>
<%= render "form", bar: @bar %>
